<div class="container user_information_container">
	<div class="user_information_title">ユーザ情報</div>

	<div class="user_information_box">
		<div class="user_information_item">
			<span>氏名</span>aaa
		</div>
		<div class="user_information_item">
			<span>カナ</span>aaa
		</div>
		<div class="user_information_item">
			<span>表示名</span>aaa
		</div>
		<div class="user_information_item">
			<span>メールアドレス</span>aaa
		</div>
		<div class="user_information_item">
			<span>投稿数</span>aaa
		</div>
	</div>

	<div class="user_information_button">
		<%= link_to '編集する', edit_customer_path %>
	</div>
</div>
