<div id="container">
	<div id="theTarget">
		<div class="image1"></div>
		<div class="image2"></div>
		<div class="image3"></div>
		<div class="image4"></div>
	</div>
	<div class="top_image">
		<%= image_tag('PF-logo1.png', style: "width: 270px;") %>
	</div>
	<div class="top_text">
		<p>SAMPLE</p>
	</div>
</div>

<div class="container">
	<div class="about_message1">
		<h1 style="color: #b7282c;">エレピア</h1><h3 style="padding-top: 2%;">って？</h3>
	</div>
	<div class="about_message2">
		<p>エレピアは、女性向けの電化製品に特化したインスタライクのシェアサービスです。</p>
		<p>「オシャレでカワイイ電化製品はたくさんあるから、もっと知って欲しい！」</p>
		<p>という願いから生まれました。</p>
		<p>こちらのサイトは写真の投稿やレビュー、他のユーザがオススメしている</p>
		<p>電化製品を見ることができ、人気のランキングなどもあります。</p>
	</div>
	<div class="about_line"></div>
</div>

<div class="container">
	<div class="row row1">
		<div class="top_image2 col-xs-6">
			<%= image_tag('sample1.png', style: "width: 500px;") %>
		</div>
		<div class="top_text2 col-xs-offset-1 col-xs-5">
			<P>オススメの電化製品を投稿しよう！<br>
			投稿はマイページから行えます！</P>
		</div>
	</div>
	<div class="row">
		<div class="top_text3 col-xs-offset-1 col-xs-5">
			<P>いいねしたり、他のユーザが投稿した製品を<br>
			お気に入りリストに追加もできます！</P>
		</div>
		<div class="top_image3 col-xs-6">
			<%= image_tag('sample2.png', style: "width: 500px;") %>
		</div>
	</div>
	<div class="about_line"></div>
</div>

<div class="container">
	<div class="top_text4">
		<p>最新投稿一覧</p>
	</div>
	<h2>Hellow</h2>
	<h2>Hellow</h2>
	<h2>Hellow</h2>
	<h2>Hellow</h2>
	<h2>Hellow</h2>
	<h2>Hellow</h2>
	<h2>Hellow</h2>
	<h2>Hellow</h2>
	<h2>Hellow</h2>
	<h2>Hellow</h2>
	<h2>Hellow</h2>
	<h2>Hellow</h2>
	<h2>Hellow</h2>
	<h2>Hellow</h2>
	<h2>Hellow</h2>
</div>
